@import "tailwindcss";
@import "leaflet/dist/leaflet.css";

.no-scrollbar::-webkit-scrollbar {
    display: none;
}

.no-scrollbar {
    -ms-overflow-style: none;

    scrollbar-width: none;

}

@layer base {
  body {
    @apply text-white;
  }
}